{% load static %}
<link rel="stylesheet" href="{% static 'user_auth/login.css' %}">

<body class="screen">
    <div class="container">
        <h1>Login</h1>
        <form method="POST">
            {% csrf_token %}
            {% if account_exist == False %}
                <div class="error_msg">
                    <p>Username or password does not exist</p>
                </div>
            {% endif %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="{{ form.username.name }}" class="form-control" required>
            </div>
            <br>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="{{ form.password.name }}" class="form-control" required>
            </div>
            <br>
            <div class="login_button">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <br>
            <div class="dont_have_account">
                <a href="{% url 'registration:signup' %}" class="btn btn-link">Don't have an account? Create one</a>
            </div>
        </form>
    </div>
    
</body>


