{% load static %}
<link rel="stylesheet" href="{% static 'user_auth/signup.css' %}">

<body class="screen">
    <div class="container">
        <h1>Signup</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="user_input_tab">
                <p>{{ form.username.label_tag }} {{ form.username }}</p>
                {% if form.username.errors %}
                    <p>{{ form.username.errors }}</p>
                {% endif %}
            </div>
            <br>
            <div class="user_input_tab">
                <p>{{ form.password1.label_tag }} {{ form.password1 }}</p>
                {% if form.password1.errors %}
                    <p>{{ form.password1.errors }}</p>
                {% endif %}
            </div>
            <div class="user_input_tab">
                <p>{{ form.password2.label_tag }} {{ form.password2 }}</p>
                {% if form.password2.errors %}
                    <p>{{ form.password2.errors }}</p>
                {% endif %}
            </div>  
            <button type="submit">Signup</button>
            <a href="{% url 'registration:login' %}">Already have account?</a>
        </form>
    </div>
</body>


