{% load static %}
<link rel="stylesheet" href="{% static 'adknow/about_us.css' %}">
<a href="{% url 'home:index' %}">
    <img src="{% static 'icons/left.png' %}" alt="Back to homepage">
</a>
<h1>about us page</h1>
<p>ADKnow is your go-to chatbot for everything about Ateneo De Naga University. 
    It’s like your personal guide, answering your questions about our campus, facilities, 
    and traditions. And the cool part? You can get all this info without even being on campus. 
    So, whether you’re a student, planning to join us, or just curious, ADKnow is here to help. 
    Welcome to the Ateneo journey!</p>