{% load static %}
<link rel="stylesheet" href="{% static 'adknow/about_us.css' %}">

<body class="about-screen">
    <div class="back-button">
        <a href="{% url 'home:index' %}">
            <img src="{% static 'icons/left.png' %}" alt="Back to homepage">
        </a>
    </div>
    <div class="body">
        <h1 class="title">About Us</h1>
        <p class="description">
            ADKnow is your go-to chatbot for everything about Ateneo De Naga University. 
            It’s like your personal guide, answering your questions about our campus, facilities, 
            and traditions. And the cool part? You can get all this info without even being on campus. 
            So, whether you’re a student, planning to join us, or just curious, ADKnow is here to help. 
            Welcome to the Ateneo journey!
        </p>
    </div>
</body>