{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdKnow Chatbot</title>
    <link rel="stylesheet" href="{% static 'adknow/index.css' %}">
</head>
<body class="main-screen">
    <div class="header">
        <div class="header__user-greeting">
            {% if request.user.is_authenticated %}
                <p>Hello there, {{ request.user.username }}</p>
            {% endif %}
        </div>
        <div class="header__navigation-links">
            <p><a href="{% url 'home:about-us' %}">About Us</a></p>
            {% if request.user.is_authenticated %}
                <p><a href="{% url 'registration:logout' %}">Logout</a></p>
            {% else %}
                <p><a href="{% url 'registration:signup' %}">Signup</a></p>
            {% endif %}
        </div>
    </div>
    <div class="body">
        <div class="title">
            <img src="{% static 'icons/adknow_logo.png' %}" alt="AdKnow logo">
            <h1>AdKnow</h1>
        </div>
        <main>
            <div id="chat-interface">
              <div class="input-container">
                <input type="text" id="chat-input" placeholder="Type message...">
                <button id="send-btn"><img src="{% static 'icons/send_button.png' %}" alt="Send button"></button>
              </div>
            </div>
            <nav>
              <ul>
                <li><a href="#campus" class="nav-tab">Campus</a></li>
                <li><a href="#offices" class="nav-tab">Offices</a></li>
                <li><a href="#academics" class="nav-tab">Academics</a></li>
                <li><a href="#history" class="nav-tab">History</a></li>
              </ul>
            </nav>
            <div id="content">
              <!-- Content for each tab goes here -->
            </div>
            <div class="tabs-container">
                <button class="cont-tab" onclick="showContent('option1')">Option 1<p>Option 1 Description</p></button>
                <button class="cont-tab" onclick="showContent('option2')">Option 2<p>Option 2 Description</p></button>
                <button class="cont-tab" onclick="showContent('option3')">Option 3<p>Option 3 Description</p></button>
                <button class="cont-tab" onclick="showContent('option4')">Option 4<p>Option 4 Description</p></button>
            </div>
        </main>
        <script src="{% static 'adknow/index.js' %}"></script>
    </div>
</body>