{% load static %}
<link rel="stylesheet" href="{% static 'adknow/index.css' %}">
<script src="{% static 'adknow/index.js' %}"></script>

<body class="main-screen">
    <div class="header">
        <div class="header__user-greeting">
            {% if request.user.is_authenticated %}
                <p>Hello there, {{ request.user.username }}</p>
            {% endif %}
        </div>
        <div class="header__navigation-links">
            <p><a href="{% url 'home:about-us' %}">About Us</a></p>
            {% if request.user.is_authenticated %}
                <p><a href="{% url 'registration:logout' %}">Logout</a></p>
            {% else %}
                <p><a href="{% url 'registration:signup' %}">Signup</a></p>
            {% endif %}
        </div>
    </div>
    <div class="body">
        <h1 class="title">AdKnow</h1>
    </div>
</body>